<th:block th:fragment="quanlyorder_list">
	<div class="col-12 col-md-9 col-lg-10 pt-3">
		<h5 class="mb-3">Material order list!</h5>
		<hr>
		<div class="row">
			<!-- Cột 1: Waiting -->
			<div class="col-md-4 border-right" style="border-color: #dee2e6;">
				<h5 class="mb-2 text-center text-secondary">Waiting</h5>
				<hr>
				<div class="row">
					<div th:each="order : ${orderLists}" th:if="${order.status == 1}" class="col-6 mb-3">
						<div class="card bg-warning text-dark">
							<div class="card-body p-2">
								<h5 class="card-title mb-1">Line: <span th:text="${order.workOrder.line}"></span></h5>
								<h6 class="card-title mb-1"><span th:text="${order.workOrder.model}"></span></h6>
								<p class="card-text small">Status: Waiting...</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Cột 2: Picking -->
			<div class="col-md-4 border-right" style="border-color: #dee2e6;">
				<h5 class="mb-2 text-center text-info">Picking</h5>
				<hr>
				<div class="row">
					<div th:each="order : ${orderLists}" th:if="${order.status == 2}" class="col-6 mb-3">
						<div class="card bg-info text-white">
							<div class="card-body p-2">
								<h5 class="card-title mb-1">Line: <span th:text="${order.workOrder.line}"></span></h5>
								<h6 class="card-title mb-1"><span th:text="${order.workOrder.model}"></span></h6>
								<p class="card-text small">Status: Picking...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Cột 3: Delivering -->
			 <div class="col-md-4 border-end border-2 border-secondary">
				<h5 class="mb-2 text-center text-success">Delivering</h5>
				<hr>
				<div class="row">

					<div th:each="order : ${orderLists}" th:if="${order.status == 3}" class="col-6 mb-3">
						<div class="card bg-success text-white">
							<div class="card-body p-2">
								<h5 class="card-title mb-1">Line: <span th:text="${order.workOrder.line}"></span></h5>
								<h6 class="card-title mb-1"><span th:text="${order.workOrder.model}"></span></h6>
								<p class="card-text small">Status: Delivering...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>