<th:block th:fragment="header">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Trinh Van Minh, Vietnam Diamond & Zebar Electric">
		<title>Material Request System - v2</title>
		<link href="/bootstrap-4.6.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="/fontawesome-5.15.4/css/all.min.css" rel="stylesheet">
		<link href="/dataTables/jquery.dataTables.min.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<link href="/css/orderpicking.css" rel="stylesheet">
	</head>
</th:block>