<th:block th:fragment="topmenu">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">New MR System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
			aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled">Disabled</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
					</div>
				</li>
			</ul>
			
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="fas fa-user"></i> Hello, <strong>Minh</strong></a>

				</li>
				<li class="nav-item">

					<form action="/logout" method="post" class="form-inline">
						<button class="btn btn-link nav-link text-secondary" type="submit">
							<i class="fas fa-sign-out-alt"></i> Logout
						</button>
					</form>
				</li>
			</ul>
		</div>
		
		
	</nav>	
</th:block>th:block>