<th:block th:fragment="receiving_scan_list">
	<div class="col-12">
		<div class="table-responsive">
			<form id="pickingForm" method="post">
				<table id="orderTable" class="table table-sm table-hover table-bordered text-nowrap table-striped">
					<thead class="text-center">
						<tr>
							<th scope="col">Mã NVL</th>
							<th scope="col">Tên NVL</th>
							<th scope="col">SL Yêu cầu</th>
							<!-- <th scope="col">SerialNo</th> -->
							<th scope="col">SL nhặt</th>
							<th scope="col">SL nhận</th>
						</tr>
					</thead>

					<tbody class="text-center">
						<tr th:each="item, iterStat : ${receivingItems}">
							<td th:text="${item.itemCode}"></td>
							<td class="text-left" th:text="${item.itemName}"></td>
							<td class="text-left" th:text="${item.requestqty?.intValue()}"></td>
							<td class="text-left" th:text="${item.pickingqty?.intValue()}"></td>
							<td>
								<input type="number" 
								       name="receivingQty[[${iterStat.index}]]" 
								       th:attr="data-itemcode=${item.itemCode}" 
								       th:value="${item.receivingqty != null ? item.receivingqty : 0}"
								       min="0"
								       class="form-control form-control-sm text-right"
								       readonly />

							</td>
						</tr>
					</tbody>
					
				</table>
				
				<div class="input-group mb-3">
					<input type="text" class="form-control" 
						name="scannedSerial" 
						placeholder="Quét số Serial để nhận hàng" 
						aria-describedby="saveButton">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary mr-3" type="button" id="saveAllBtn">Lưu lại</button>
					</div>
					<!-- <button class="btn btn-outline-primary" type="button" id="endReceivingOrder">Kết thúc nhận hàng</button> -->
				</div>
				<input type="hidden" id="orderId" th:value="${order.id}" />
			</form>

			<div id="status-message" class="text-center mt-2" style="display: none;"></div>
		</div>
	</div>
</th:block>