<th:block th:fragment="hoantranvl_dataform">
	<div class="table-responsive">
	<form id="dataForm" class="mb-3">
		<table class="table table-sm table-bordered table-hover text-center align-middle custom-table">
			<thead class="thead-light">
				<tr class="text-nowrap">
					<th class="align-middle">Category</th>
					<th class="align-middle">Mã NVL</th>
					<th class="align-middle">Tên NVL</th>
					<th class="align-middle">Đóng gói</th>
					<th class="align-middle">Kế hoạch</th>
					<th class="align-middle">Đã nhận</th>
					<th class="align-middle">SL cân hoàn trả </th>
				</tr>
			</thead>
			<tbody id="dataTableBody">
			</tbody>
		</table>
	</form>
	</div>
</th:block>