<!doctype html>
<html lang="en">

<head th:replace="~{fragments/ycnvl/ycnvl_header :: ycnvl_header}"></head>

<body>
	<nav th:replace="~{fragments/ycnvl/ycnvl_top_nav :: ycnvl_top_nav}"></nav>
	<!-- ----------------------------------------------------------------------------- -->
	<main role="main" class="container-fluid">
		<form th:replace="~{fragments/ycnvl/ycnvl_topform :: ycnvl_topform}"></form>
		<div id="middleFormSection" style="display:none;">
			<div th:replace="~{fragments/hoantranvl/hoantranvl_middle_form :: hoantranvl_middle_form}"></div>
		</div>
		<div th:replace="~{fragments/hoantranvl/hoantranvl_dataform :: hoantranvl_dataform}"></div>
	</main>
	<!-- ----------------------------------------------------------------------------- -->
	<script src="bootstrap-4.6.2/js/jquery-3.5.1.min.js"></script>
	<script src="bootstrap-4.6.2/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<script src="/js/hoantra_nvl.js"></script>
	<script src="/js/socket.js"></script>
</body>

</html>