<th:block th:fragment="orderpicking_list">
	<div class="col-12">
		<div class="table-responsive">
			<form id="pickingForm" method="post">
				<table id="orderTable" class="table table-sm table-hover table-bordered text-nowrap table-striped">
					<thead class="text-center">
						<tr>
							<th scope="col">Mã NVL</th>
							<th scope="col">Tên NVL</th>
							<th scope="col">SL Yêu cầu</th>
							<th scope="col">SerialNo</th>
							<th scope="col">SL nhặt</th>
						</tr>
					</thead>

					<tbody class="text-center">
						<tr th:each="item, iterStat : ${pickingItems}">
							<td th:text="${item.itemCode}"></td>
							<td class="text-left" th:text="${item.itemName}"></td>
							<td class="text-left" th:text="${item.requestqty?.intValue()}"></td>
							<td>-</td>
							<td>
								<input type="number" name="pickingQty[0]" min="0"
									class="form-control form-control-sm text-right" readonly />
							</td>
						</tr>
					</tbody>
					
					
				</table>
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="scannedSerial" placeholder="Quét số Serial"
						aria-describedby="saveButton">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="scanBtn">Save</button>
					</div>
				</div>
			</form>

			<div id="status-message" class="text-center mt-2" style="display: none;"></div>
		</div>
	</div>
</th:block>